<nav class="navbar navbar-default">
<div class="contianer-fluid">
<div class="navbar-header">
<a class="navbar-brand" href=#>Professionals</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
<ul class="nav navbar-nav">
<li class="mycss">
<a href="#"><small>Register Resume</small></a></li>
<li class="mycss"><a href="#"><small>Post New Job</small></a></li>
</ul>

<div class="row">
<div class="col-md-3" style="background-color: #CEF6F5"></div>

</div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Sign In</a></li>
  <li role="presentation"><a href="#">test1</a></li>
  <li role="presentation"><a href="#">test2</a></li>
</ul>
</div>

</div>
</nav>

